@use "sass:color";
@import "../variables.scss";

.body{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.minified-header-body{
    padding-top: 50px;
}
/* Worpress defaults each block column to have 1.75em padding-bottom. I don't
like it */
.wp-block-columns{
    margin-bottom: .75em;
}
.alignright{
    float: right;
}
.alignleft{
    float: left;
}

/* Style href elements that arent buttons */
.body a:not(.wp-block-button__link){
    font-family: 'Poppins', sans-serif;
    color: $aref-color;
    text-decoration: none;
    transition: color .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.body a::not(.wp-block-button__link){
    color: color.adjust($aref-color, $lightness: +10%)
}

/* Give all images a little bit of depth*/
.body img{
    box-shadow: $box-shadow-d2;
}
/*1/2 screen desktop*/
@media only screen and (min-width : 1224px) {
    .alignfull{
        width: calc(100% + 10em);
        margin-left: -5em;
    }
}
/* full screen desktop */
@media only screen and (min-width : 1824px) {
    .alignfull{
        width: 200%;
        margin-left: -50%;
    }
}
