@use "sass:color";
@import "../variables.scss";

.body{
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 4em;
    padding-right: 4em;
}

/* Style href elements */
a{
    font-family: 'Poppins', sans-serif;
    color: $menu-accent-color;
    text-decoration: none;
    transition: color .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
a:hover{
    color: color.adjust($menu-accent-color, $lightness: +10%)
}

/* Give all images a little bit of depth*/
.body img{
    box-shadow: $box-shadow-d1;
}