@use "sass:color";
@import "../variables.scss";

/**
* Defines styles for the sailhousing theme header
*/
.nav-bar{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 15%;
    width: 100%;
    justify-content: center !important;
    color: $menu-fixed-bg-color;
    background: $menu-default-bg-color;
    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-margin{
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/** By default, hide the expand menu button **/
.menu-show-button{
    display: none;
}

/** Lay the nav pages out in rows */
.nav-items-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    white-space: nowrap;

}
/** Style the logo so that it doesn't take up the entire page */
.custom-logo-link{
    height: 150px;
    width: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 5px;

}
.custom-logo{
    width: auto;
    height: 100%;
}
.home-text{
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    color: $menu-fixed-bg-color;
}
.label-text{
    max-height: 15%;
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: 1px $menu-fixed-bg-color solid;
    width: min-content;
}


/** Style menu items*/
.menu-item{
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1%;
    padding-bottom: 1%;
    flex-basis: min-content;
    flex-basis: 150px;
    min-height: auto;
    position: relative;
    text-align: center;
}
.menu-item > a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    transition: all .2s cubic-bezier(0.4, 0.0, 0.2, 1);

}
.menu-item::before{
    transition: all .2s cubic-bezier(0.4, 0.0, 0.2, 1);
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    content: "";
}
.menu-show-button{
    display: none;
}
.menu-nav-container{
    width: 100%;
}
.nav-bar:not(.fix-nav) .menu-item:not(.current-menu-item):hover > a{
    color: color.adjust($menu-fixed-bg-color, $lightness: 20%);
}
.nav-bar:not(.fix-nav) .menu-item:hover::before{
    border: 1px solid color.adjust($menu-fixed-bg-color, $lightness: 20%);
    left: 0;
    width: 100%;
}
.nav-bar:not(.fix-nav) .menu-item.current-menu-item{
    color: color.adjust($menu-fixed-bg-color, $lightness: -20%);
}

.nav-bar:not(.fix-nav) .menu-item.current-menu-item::before{
    width: 100%;
    left: 0;
    border: 1px solid;
    border-color:color.adjust($menu-fixed-bg-color, $lightness: -20%);
}
//Remove the bullet points
ul .menu-item{
    list-style-type: none;
}

//Styling for submenu items
.sub-menu{
    display: none;
}
.menu-item-has-children:hover > .sub-menu{
    display: inline-block;
}
.sub-menu{
    padding:0;
    position: absolute;
    top: 100%;
    right:1%;
    z-index: 100;
    background-color: white;
    border-radius: 5px;
    min-width: 10vw;
    box-shadow: var(--box-shadow-d1);
    padding: 10px;

}
.sub-menu .sub-menu{
    box-shadow: var(--box-shadow-d3);
    position: absolute;
    right: 100%;
    top: -10px;
    z-index: 110;
}
.sub-menu > li{
    line-height: 150%;
}
.sub-menu li a{
    color: $menu-fixed-bg-color;
}

@media (max-width: 1157px){
    .menu-item{
        padding: 0;
        flex-basis: 50px;
    }
    .menu-all-pages-container{
        overflow: scroll;
    }
    .body{
        background-color: pink;
    }
    .menu-all-pages-container:not(.open){
        display: none;
    }
    .menu-all-pages-container.open{
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;
        background-color: white;
        animation: "fly-in" .2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    }
    @keyframes fly-in {
        from{
            top: -100%;
        }to{
            top: 0;
        }
    }
    .menu-all-pages-container.open .sub-menu{
        display: block;
        position: relative;
        box-shadow: none;
        top: 0;
        right: 0;
        background-color: transparent;
    }
    .menu-item::before{
        border: 0 !important;
    }
    .menu-all-pages-container.open .nav-items-list{
        flex-direction: column;
        padding: 0;

    }
    .nav-margin{
        margin: 0;
        justify-content: left ;
    }
    .label-text{
        width: 25%;
        border-right: 0;
    }
    .custom-logo-link{
        height: 75px;
    }
    .menu-show-button{
        display: block;
        float: right;
    }
    .menu-show-container{
        width: 100%;
        margin-right: 5%;
    }
}