/**
Defines styling that removes certain annoying browser "defaults" IE: auto margin
on body
**/
body{
    margin: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}
@media (max-width: 1157px){
    body{
        font-size: 14px;
    
    }
}
.wp-block-column:not(:first-child){
    margin-left: 0;
}