@import "../variables.scss";
.wp-block-button:not(.is-style-outline) > *{
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: $box-shadow-d1;
    background: $sail-gradient;
    color: #202020;

}
.wp-block-button{
    padding: 1em;
    /* For some godforsaken reason, wordpress wraps EVERY button in a fucking
div that doesn't center properly. This is bad practice but I'm FORCING it to a
flexbox alignment and centering the content */
    display: flex !important;
    justify-content: center;
}
.wp-block-button > *:hover{
    box-shadow: $box-shadow-d3;
}
.wp-block-button:active > *:hover{
    box-shadow: none;
}

/* Square off buttons withs square class */
.wp-block-button.is-style-squared > *{
    border-radius: 0;
}