.entry-title:hover{
    text-decoration: underline;
}
//phones
@media screen and (max-device-width: 568px) {
    .entry-header{
        margin-left: 1em;
    }
    .entry-content{
        margin-left: 1em;
        margin-right: 1em;
    }

    .sticky-post{
        font-size: 20px;
        font-weight: bolder;
    }
}

//Half screen desktop
@media only screen and (min-width : 1224px) {
    .entry-header{
        margin-left: 5em;
    }
    .entry-content{
        margin-left: 5em;
        margin-right: 5em;
    }

    .sticky-post{
        font-size: 20px;
        font-weight: bolder;
    }
}
//Full screen desktop
@media only screen and (min-width : 1824px) {
    .entry-header{
        margin-left: 25%;
        margin-right: 25%;
    }
    .entry-content{
        margin-left: 25%;
        margin-right: 25%;
    }

    .sticky-post{
        font-size: 20px;
        font-weight: bolder;
    }
}